<div class="well well-small" style="text-align:left">
    <h4><a href="#" title="SEO">Поисковая оптимизация (SEO)</a></h4>
    <img src="{{ asset('bundles/spbsymfony/images/carousel/seo.jpg') }}" alt="SEO" /><br/><br/>
    <p>SEO-оптимизация — это процесс вывода сайта на первую страницу результатов поиска по определенным запросам в поисковых системах, таких как Яндекс и Google. Сейчас трудно найти человека, который не пользуется Интернетом. А если ваш сайт находится дальше первой страницы по запросам, которые набирают ваши потенциальные клиенты, то мало шансов, что они зайдут на него. Это значит, что вы упускаете мощный источник дохода и теряете клиентов.</p>
    <h5>Основы SEO-оптимизации</h5>
    <p>Основы поисковой оптимизации достаточно просты. Нужно создать хорошо структурированный сайт и наполнить его текстами, в которых присутствуют ваши целевые запросы. Они должны встречаться в тексте достаточно часто, но при этом нужно сохранить читаемость для людей. Наполнение сайта и тексты должны обладать тремя свойствами:</p>
    <ul>
        <li>быть уникальными,</li>
        <li>полезными и интересными для пользователей</li>
        <li>их должно быть много.</li>
    </ul>
    <p>В SEO оптимизации нет ничего сложного или загадочного, но как и в любой деятельности, здесь присутствует много нюансов и подводных камней.</p>
    <h5>Стоимость SEO оптимизации</h5>
    <p>Работы по SEO оптимизации индивидуальны для каждого сайта, поэтому стоимость можно назвать только после определения запросов и анализа конкуренции.</p>
    <p>Работая с нами вы обязательно получаете:</p>
    <ul>
        <li>подбор ключевых слов</li>
        <li>ежемесячные отчеты</li>
        <li>качественную внутреннюю оптимизацию страниц сайта</li>
        <li>анализ эффективных запросов, по которым приходят посетители</li>
        <li>внешние ссылки только на качественных площадках</li>
        <li>размещение пиар-статей на сайтах, которые посещает ваша целевая аудитория</li>
        <li>консультации по телефону и электронной почте</li>
    </ul>
</div>
<br/>