<div class="well well-small" style="text-align:left">
    <h4><a href="#" title="Обучение Symfony">SymfonySpb - PHP & Symfony эксперты</a></h4>
    <img src="{{ asset('bundles/spbsymfony/images/carousel/symfony_trainings.jpg') }}" alt="PHP & Symfony обучение" /><br/><br/>
    <p>
         SymfonySpb предоставляет полный спектр обучения PHP/Symfony среды.
         Наши преподаватели - технические эксперты,  имеющие солидный опыт работы в сложных проектах, косультировании и преподавании курсов. 
    </p>

    <p>Сотрудники нашей компании обладают глубокими знаниями в следующих областях:</p>
    <ul>
        <li>Symfony 1.x, 2.x </li>
        <li>PHP 5.3 & MySQL</li>
        <li>Doctrine, Propel</li>
        <li>Git, PHPUnit</li>
        <li>Scrum</li>
    </ul>
    
    <p>
        Мы проводим корпоративные тренинги и курсы, список курсов и их содержание можно найти на сайте компании SensioLab.
    </p>
    <p>
        <a href="http://trainings.sensiolabs.com/en/catalog/symfony"target="_new">Каталог тренингов и курсов компании SensioLab</a>
    </p>
    <p>
        Стоимость курса зависит от количества человек и темы тренинга. Позвоните или <a href="{{ path('spb_contacts') }}">напишите</a>
        нам письмо, чтобы узнать стоимость тренинга и согласовать даты его проведения.
    </p>

</div>
<br/>