<div class="well well-small" style="text-align:left">
    <h4><a href="#" title="Тех. поддержка">Техническая поддержка и сопровождение PHP/Symfony проектов </a></h4>
    <img src="{{ asset('bundles/spbsymfony/images/carousel/symfony_maintance.jpg') }}" alt="Техническое сопровождение и поддержка" /><br/><br/>

    <p>Для обеспечения экспертного уровня сервисного обслуживания информационных систем (ИС) в нашей компании выделен сервисный департамент, в рамках которого работает специализированное функциональное подразделение «Служба технической поддержки и сопровождения информационных систем» (СТПиС).</p>
    <p>В задачи СТПиС входит как непосредственное оказание услуг технической поддержки и сопровождения ИС силами специалистов Службы, так и эффективная координация всех ресурсов SymfonySpb, направленная на своевременное решение вопросов и проблем в эксплуатации и обслуживании информационных систем.</p>
    <p>Техническая поддержка обычно осуществляется по сервисному договору с Заказчиком. Стоимость поддержки определяется исходя из сервисных условий.</p>
    <p><b>Сервисный договор обеспечивает:</b></p>
    <ul> 	 
        <li>Гарантированный уровень обслуживания</li>
        <li>Оперативное и эффективное устранение сбоев в работе ИС</li>
        <li>Регулярный аудит ИС и профилактику неисправностей</li>
        <li>Своевременную и квалифицированную модернизацию ИС</li>
        <li>Профессиональные консультации бизнеса и пользователей по работе ИС</li>
        <li>Дополнительные сопутствующие услуги</li>
        <li>Льготные условия и скидки на проведение работ по развитию ИС</li>
    </ul>

    <p>Служба ТПиС компании «SymfonySpb» способна оказывать услуги на любых необходимых Заказчику условиях, в том числе: </p>
    <ul> 	 
        <li>Круглосуточно без выходных</li>
        <li>Оперативно (в пределах 4 часов с момента обращения по критическим инцидентам)</li>
        <li>В неограниченном объёме (любое число заявок по вопросам ТПиС ИС будет обработано и решено)</li>
    </ul>
    <p>Необходимые условия обслуживания фиксируются в сервисном договоре в части соглашения об уровне услуг (Service Level Agreement - SLA). </p>
    <p>Виды услуг и их объекты (функциональные и интеграционные компоненты ИС), подпадающие под действие SLA, время, место, объем, сроки и способы оказания услуг, порядок установки приоритета и эскалации и другие сервисные условия с учетом всех особенностей обслуживания согласуются в ходе подготовки сервисного договора.</p>
    <br/>
    <h3>У вас Symfony проект? <small>- выберите для него «правильную крышу»! </small></h3>
</div>
<br/>