<div class="well well-small" style="text-align:left">
    <h4><a href="#" title="Разработка веб-приложений на Symfony">Разработка интернет-приложений на PHP-платформе Symfony</a></h4>
    <img src="{{ asset('bundles/spbsymfony/images/carousel/symfony_development.jpg') }}" alt="PHP фреймворк Symfony" /><br/><br/>

    <p>
        Выбор Symfony2 в качестве платформы для интернет проектов был обусловлен следующими факторами.
    </p>
    <h5>Философия фреймворка</h5>
    <p>
        При разработке Symfony2 ставилось целью создать фреймворк, который можно «заточить» практически под любые задачи. Этот фактор был важен для нас, т.к. мы используем данный фреймворк в нетиповых, зачастую уникальных проектах. Разработчики добились этой цели спроектировав слабосвязную архитектуру фреймворка, в которой можно отключать и заменять отдельные части решения. Также разработчики фреймворка тщательно продумали саму систему организации модулей (в Symfony они называются «бандлы»), что позволяет оформить в бандл практически любую функциональность.
    </p>
    <h5>Соответствие PSR-стандартам</h5>
    <p>
        <a href="http://fabien.potencier.org">Fabien Potencier</a>, идеолог и основной разработчик Symfony2 является членом группы <a href="https://github.com/php-fig/fig-standards#voting-members">PHP Framework Interop Group</a>, которая рассмотрела и утвердила 3 PHP-стандарта: PSR-0 (Стандарт автозагрузки), PSR-1 (Базовые стандарты оформления кода), PSR-2 (Руководство по Code Style). Фреймворк Symfony2 полностью соответствует этим стандартам. Их придерживаемся и мы при разработке проектов на Symfony.
    </p>
    <h5>Большое комньюнити проекта</h5>
    <p>
        В отличие от symfony версии 1, который почти полностью является творением Фабиена, вторая версия разработана коллективно. На данный момент у проекта более <a href="http://symfony.com/contributors">550 контрибьюторов</a> и тысячи разработчиков, использующих фреймворк по всему миру.
    </p>
    <h5>Проработанные компоненты и модули</h5>
    <p>
        В комплекте с Symfony идет целый ряд независимых и мощных по функциональности <a href="http://symfony.com/doc/current/components/index.html">компонентов</a>: 
    </p>
    <ul>
        <li>Config</li>
        <li>Dependency Injection</li>
        <li>Event Dispatcher</li>
        <li>DOM Crawler</li>
        <li>Filesystem</li>
        <li>Finder</li>
        <li>HTTP Foundation</li>
        <li>и целый ряд других</li>
    </ul>
    <p>
        Особо стоит отметить Form и Console. Это наиболее часто используемые при разработке и как нигда тщательно спроектированные компоненты во второй версии фреймворка. 
    </p>
    <p>
        Помимо компонентов в поставку входят прекрасные сторонние решения, такие как Doctrine, Swift, Twig, Monolog, Assetic.
    </p>
    <h5>Большое количество дополнительных готовых решений</h5>
    <p>
        Как следствие продуманной архитектуры и большого комьюнити, на данный момент сформировалась огромная коллекция готовых решений. На сайте <a href="http://symfohub.com/bundles">symfohub</a> сейчас зарегистрировано более 1000 бандлов, а на сайте <a href="http://knpbundles.com">knpbundles</a> — более 1600 бандлов.
    </p>

    <h5>Множественные окружения проекта</h5>
    <p>
        Одним из больших преимуществ еще первой версии symfony была возможность настройки нескольких окружений проекта. Как правило это были: prod (боевое окружение проекта), dev (окружение для разработки) и test (окружение для тестирования). Особенно в разработке помогало dev-окружение, где всегда можно было посмотреть всю системную информацию о ходе формирования страницы, а в случае возникновения ошибки — полный trace-лог.
    </p>
    <p>
        Данный подход сохранился и в Symfony2, что является важным фактором для нас, как разработчиков.
    </p>
    <h5>Подробнейшая документация</h5>
    <p>
        Разработчики Symfony всегда щепетильно относились к документации. Вторая версия тоже сопровождается подробным руководством к разработке, книгой советов Cookbook, документацией по компонентам и бандлам, идущим в стандартной поставке. Это является показателем и для разработчиков, которые разрабатывают собственные бандлы и выкладывают их в общий доступ: большая часть из них также сопровождается подробными инструкциями по установке и использованию.
    </p>
    <h5>В сухом остатке</h5>
    <p>
        Перечисленные выше пункты стали для нас решающими при выборе инструмента разработки, а Symfony2 на данный момент объективно является самым мощным решением среди всех существующих PHP-фреймворков.
    </p>
</div>
<br/>