<div class="well well-small" style="text-align:left">
    <h4><a href="#" title="Symfony консультации">Консультирование по Symfony</a></h4>
    <img src="{{ asset('bundles/spbsymfony/images/carousel/symfony_consulting.jpg') }}" alt="Symfony косултирование" /><br/><br/>
    <p>Специалисты SymfonySpb отдела консультирования в области ИТ помогут Вам извлечь все существующие выгоды из Symfony. В частности, мы показываем организациям, как наилучшим образом использовать возможности Symfony для достижения стратегических и операционных целей. </p>
    <p>Мы предлагаем комплекс услуг, направленных на оказание содействия организациям в увеличении доходов от инвестиций в ИТ и более эффективном управлении ИТ рисками.</p>
    <p><em>Наши услуги включают:</em></p>
    <ul>
        <li>Оценка ИТ-проектов</li>
        <li>Оценка ИТ-стратегии и эффективности работы ИТ</li>
        <li>Помощь (консультации, оценка) в выборе поставщиков (услуг)</li>
        <li>Услуги в области ИБ (защиты информации), поддержки непрерывности бизнеса</li>
        <li>Бизнес-исследования, детальный анализ деятельности организации</li>
        <li>Оценка (аудит) инфраструктуры и архитектуры ИТ.</li>  
    </ul>
    <br/>
    <h3>Проект на Symfony 2? <small>- позвольте нам помочь Вам!</small></h3>
</div>
<br/>