<div class="well well-small" style="text-align:left">
    <h4><a href="#" title="Веб-дизайн">Web-дезайн (Twitter bootstrap)</a></h4>
    <img src="{{ asset('bundles/spbsymfony/images/carousel/twitter_bootstrap_design.jpg') }}" alt="business templates" /><br/><br/>
    <p>
        Мы занимаемся веб-дизайном от простого интернет-представительства фирмы, до корпоративного портала или интернет-магазина. Разработка концепции, структуры, фирменного стиля, веб-дизайна, рекламной политики веб-проектов. 
    </p>
    <p>
        Мы создаем разные сайты, но всегда стараемся, чтобы они были понятными и информативными, радовали глаз и приносили пользу их владельцам. <br>
    </p>
    <p>Создание сайта предусматривает три основных компонента, которым мы уделяем основное внимание при разработке веб-дизайна: </p>
    <ul>
        <li>Эстетичный дизайн и понятная структура навигации. </li>
        <li>Полезная для посетителей информация, размещенная на сайте, и удобный интерфейс по ее оперативному изменению. </li>
        <li>Продвижение сайта и привлечение целевых посетителей. </li>
    </ul>
    <p>Наши специалисты по веб-дизайну при создании сайтов уделяют внимание каждой мелочи, которая влияет на эффективный результат – от предпроектного анализа сайтов Ваших конкурентов, до тестирования юзабилити веб-интерфейса и нюансов поисковой оптимизации и продвижения сайта. </p>
    <br/>
    <h4>Веб-дизайн – искусство или технология? </h4>
    <p>Можно анализировать веб-дизайн с точки зрения пропорций, соответствующих золотому сечению, или использования смежных или дополняющих цветовых схем. Но восприятие дизайна очень индивидуально и не всегда поддается анализу и описанию. Руководствуясь пожеланиями заказчика, мы создаем сайты, веб дизайн которых создает положительные эмоции у посетителей сайта и формирует позитивный имидж его владельца. Важная задача именно веб дизайна – помимо формирования имиджа, помочь в восприятии посетителем информации, представленной на сайте. Мы уделяем особое внимание функциональной составляющей веб дизайна сайтов, как инструменту, позволяющему посетителю проще ориентироваться в навигационной системе и чувствовать себя на сайте комфортно.</p>
    <ul>
        <li>Мы осознаем главную цель нашей работы - создать инструмент, наиболее эффективно помогающий вам в развитии вашего бизнеса. </li>
        <li>Мы не делаем ограниченное количество вариантов дизайна, а работаем до тех пор, пока внешний вид сайта не понравится и вам и нам. </li>
    </ul>                  
</div>
<br/>